:root {
    --text: #707070;
    --page-background: #FBB171; 
    --button-color: #67DCB0;   
}

html, body {
    background: var(--page-background);
}

.form-container {
    background-color: #C1ECFF;
    text-align: center;
    width: 30%;
    margin: 100px auto 0;
    border: 2px solid var(--text);
}

#form-header {
    color: var(--text);
    font-size: 25px;
}

label {
    position: relative;
    left: -50px;
    text-align: left;
}

label[for="email"] {
    left: -66px;
}

input[type="submit"] {
    background-color: var(--button-color);
    color: var(--text   );
    border: 1px solid var(--text);
    font-size: 15px;
    font-weight: bold;
    padding: 5px 12px;
}

input {
    margin-bottom: 15px;
}

#error-list {
    text-align: left;
    margin: 30px 150px;
}